<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />
    <title>Frontend Mentor | Crowdfunding product page</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />

    <link rel="stylesheet" href="./style.css" />
    <script src="./script.js" defer></script>
  </head>
  <body>
    <header>
      <picture class="hero-img">
        <source
          media="(min-width:650px)"
          srcset="./images/image-hero-desktop.jpg"
        />
        <img src="./images/image-hero-mobile.jpg" alt="Hero Image" />
      </picture>
      <nav class="nav-bar">
        <div class="logo">
          <img src="./images/logo.svg" alt="Logo" />
        </div>
        <div class="nav-links-desktop">
          <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Discover</a></li>
            <li><a href="#">Get Started</a></li>
          </ul>
        </div>

        <img
          class="open-menu-mobile active"
          src="./images/icon-hamburger.svg"
          alt="hamburger icon"
        />
        <img
          class="close-menu-mobile"
          src="./images/icon-close-menu.svg"
          alt="close menu icon"
        />

        <div class="mobile-menu">
          <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Discover</a></li>
            <li><a href="#">Get Started</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="mobile-menu-overlay"></div>

    <main>
      <div class="mainWrapper">
        <header>
          <section class="info">
            <div>
              <img
                class="product-logo"
                src="./images/logo-mastercraft.svg"
                alt="product-logo"
              />
            </div>
            <h1>Mastercraft Bamboo Monitor Riser</h1>
            <p>
              A beautiful & handcrafted monitor stand to reduce neck and eye
              strain.
            </p>
          </section>
          <section class="actions">
            <button class="back">Back this project</button>
            <button class="bookmark">
              <svg width="56" height="56" xmlns="http://www.w3.org/2000/svg">
                <g fill="none" fill-rule="evenodd">
                  <circle
                    class="bookmark-icon"
                    fill="#2F2F2F"
                    cx="28"
                    cy="28"
                    r="28"
                  />
                  <path fill="#B1B1B1" d="M23 19v18l5-5.058L33 37V19z" />
                </g>
              </svg>
              <span class="bookmark-text">Bookmark</span>
            </button>
          </section>
        </header>
        <section class="stats-container">
          <div class="stats">
            <div class="money stat">
              <h2>$<span><%= stats.money %></span></h2>
              <p>of $100,000 backed</p>
            </div>
            <hr />
            <div class="backers stat">
              <h2><span><%= stats.backers %></span></h2>
              <p>total backers</p>
            </div>
            <hr />
            <div class="days-left stat">
              <h2><span>56</span></h2>
              <p>days left</p>
            </div>
          </div>
          <div class="w3-container">
            <div
              class="w3-border"
              style="border-radius: 15px; overflow: hidden"
            >
              <div class="w3-cyan" style="height: 15px; width: 20%"></div>
            </div>
          </div>
        </section>
      </div>
    </main>
  </body>
</html>
